# Unset ssh auth socket to prevent ssh agents to mess with this setup
unset $SSH_AUTH_SOCK

# Set provider to use
export PROVIDER="libvirt"

# set usage of apt or manual installation of cephadm
export USE_APT_FOR_CEPHADM=1

# Set needed "test scenario" here, or set the environment variable yourself
export DISK_SCENARIO="scenario1"
